html {
  background-color: gray;
}

body {
  height: 40rem;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  gap: 0.05rem;
  display: grid;
  grid-template-columns: repeat(4, 3.5rem);
  background-color: #222722;
}

.lastrack {
  gap: 0.05rem;
  display: grid;
  grid-template-columns: 7.05rem 3.5rem 3.5rem;
}

.operator {
  font-family: sans-serif;
  color: #e6e6e6;
  font-weight: 500;
  font-size: 1.5rem;
  border: none;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fea007;
}

.num {
  font-family: sans-serif;
  color: #e6e6e6;
  font-weight: 500;
  font-size: 1rem;
  border: none;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #595a59;
}

.num-dfrnt {
  font-family: sans-serif;
  color: #e6e6e6;
  font-weight: 500;
  font-size: 1rem;
  border: none;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #393A38;
}

input {
  padding: 0rem 0.5rem;
  direction: rtl;
  outline: none;
  border: none;
  font-family: sans-serif;
  color: #e6e6e6;
  font-weight: 500;
  font-size: 2rem;
  background-color: #222722;
  width: 13.15rem;
  height: 3.7rem;
}
::placeholder {
  color: #e6e6e6;
}
