body {
  display: flex;
  justify-content: center;
  color: white;
}

.calculator {
  background: #000;
  width: 24rem;
  height: 32.3rem;
  border-radius: 15px;
  overflow: hidden;
}

.screen {
  height: 7em;
}


.buttons4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.buttons3 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.btn {
  margin: 0.5px;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: gray;
}

/* classes of buttons */
.operators {
  background: #FEA007;
}

.numbers {
  background: #595A59;
}

